# PC Port
NODE_PORT=
MONGO_PORT=
MONGO_EXPRESS_PORT=
# Mongo credentials
MONGO_USERNAME=
MONGO_PASSWORD=
# Mongo-Express (Admin UI) credentials
MONGOEXPRESS_UI_USERNAME=
MONGOEXPRESS_UI_PASSWORD=
# Node application configuration
NODE_IMAGE_NAME=
NODE_IMAGE_TAG=
